.nav-link {
    min-width: 400px;
    height: 280px;
    background: #F1F1F1;
    border: 1px solid #E6E6E6;
    padding: 50px;
    margin: 0 15px;
    border-radius: 16px !important;

    &.active {
        color: $white;
        background-color: $bordo !important;

        svg,
        svg path {
            fill: $white;
            stroke: $white;
        }

        .tab-subtitle {
            color: #fff !important;
        }

        .tab-title {
            color: #fff !important;
        }
    }

    &:not(.active):hover {
        color: #D4D4D4;

        svg,
        svg path {
            
            fill: #D4D4D4;
            stroke: #D4D4D4;
        }

        .tab-subtitle {
            color: #D4D4D4;
        }
    }

    svg {
        height: 40px;
        width: auto;
        fill: $primary;
        stroke: $primary;
    
        path {
            fill: $primary;
            stroke: $primary;
        }
    }

    &>.d-flex {
        gap: 16px; 
    }

    .tab-subtitle {
        color: #666666;
    }

    @include media-breakpoint-down(md) {
        min-width: 0;
        max-width: 313px;
        margin: 0 10px;
    }
}

.slick-dots {
    margin: 0;
    bottom: 100px !important;
}