@import "../../assets/scss/theme";
@import "../../template-parts/header/header";

@import "../../template-parts/hero/hero";
@import "../../template-parts/faq-tab-title/faq-tab-title";
@import "../../template-parts/faq-tab-content/faq-tab-content";

#nav-tab {

   .slick-arrow {
      position: absolute;
      z-index: 9;
      top: 0;
      height: calc(100% - 52px);
      display: flex;
      align-items: center;
      opacity: 0;
      transition: all .3s;

      &:hover {
         opacity: 1;
      }

      &.slick-next {
         right: 0;
      }

      &.slick-prev {
         rotate: -180deg;
      }

      button {
         border: none;
         box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.20);
         border-radius: 30px;
         height: 48px;
         width: 48px;
         padding: 0;
         display: flex;
         align-items: center;
         justify-content: center;
         background: rgba(255, 255, 255, .5);

         svg {
            height: 16px;
            width: 10px;
            stroke: $bordo;
         }
      }
   }

   .slick-dots {
      margin-top: 40px;
      margin-bottom: 90px;
      list-style: none;
      display: flex;
      padding: 0;
      justify-content: center;
      list-style: none;
      gap: 15px;

      li {
         width: 12px;
         height: 12px;
         background: #E6E6E6;
         border-radius: 15px;
         transition: all .3s;
         border: 1px solid $branco-4;

         &:not(.slick-active) {
            background-color: transparent;
         }

         &.slick-active {
            background-color: $branco-3;
         }

         button {
            background: no-repeat;
            border: none;
            font-size: 0;
            outline: none;
         }
      }
   }
}

#nav-tabContent {
   @include media-breakpoint-down(md) {
      padding: 0 40px;
   }
}