@import "../../assets/scss/theme";
@import "../../assets/node_modules/bootstrap/scss/carousel";
@import "../../assets/node_modules/bootstrap/scss/modal";

@import "../../template-parts/header/header";
@import "../../template-parts/hero-home/hero";
@import "../../template-parts/posts-grid/posts-grid";

#home-carousel-hero {
    #hero {
        height: 100vh;

        h1 {
            color: $white;
            max-width: 410px;
            font-weight: 800;
        }

        p {
            max-width: 410px;
        }
    }

    .carousel-indicators {
        margin-bottom: 3rem;

        button {

            &:not(.active) {
                background-color: transparent;
                border: 2px solid #AE0029;
            }

            &.active {
                background-color: #AE0029;
                border: 2px solid $bordo-2;
            }
        }
    }

    .bg-image {
        background: #870021;
        display: flex;
        flex-direction: column;
        justify-content: end;

        img {
            width: 100%;

            @include media-breakpoint-down(md) {
                object-position: 81%;
                height: 50%;
            }
        }
    }

    .content-col {
        color: #fff;
    }

    @include media-breakpoint-up(xl) {
        .content-col {
            width: 60%;
        }
    }

    @include media-breakpoint-up(xxl) {
        #hero {
            height: 700px;
        }
    }
}

#introduction {
    display: flex;
    flex-direction: column;
    align-items: center;

    .section-title {
        margin-bottom: 32px;

        @include media-breakpoint-down(md) {
            font-size: 34px;
        }
    }

    .cards-wrapper {
        gap: 80px;
        margin-top: 60px;

        @include media-breakpoint-only(md) {
            gap: 0;
        }

        .card {
            @include media-breakpoint-down(md) {
                text-align: center;
            }

            .img-wrapper {
                width: 40px;
                height: auto;

                @include media-breakpoint-down(md) {
                    margin: auto;
                }
            }

            .card-title {
                margin: 16px 0;
                font-size: 1.5rem;
                line-height: 1.33em;
                color: $primary;
                font-weight: 800;
                font-family: 'Alexandria';
            }

            .card-text {
                @include media-breakpoint-down(xl) {
                    font-size: 1.125rem;
                    line-height: 1.75em;
                }
            }

            @include media-breakpoint-down(md) {
                a {
                    font-size: 1.125rem;
                }
            }
        }
    }

    @include media-breakpoint-down(md) {
        padding-left: 42px;
        padding-right: 42px;
    }
}

#video {
    &>.d-flex {
        gap: 120px;
    }

    @include media-breakpoint-down(md) {
        h3 {
            font-size: 34px;
        }
    }

    .img-col {
        .img-fluid {
            width: 703px;
            height: 396px;
            box-shadow: 0 0 20px rgba(0, 0, 0, .1);

            @include media-breakpoint-down(md) {
                height: 240px;
            }
        }

        .position-absolute {
            top: 50%;
            left: 50%;
            translate: -50% -50%;
        }
    }

    iframe {
        width: 100%;
    }
}

#beneficios {
    background-color: $branco-2;

    h2 {
        margin-bottom: 64px;

        @include media-breakpoint-down(md) {
            font-size: 34px;
        }
    }

    .card {
        border: 1px solid $secondary;
        border-radius: 16px;
        background-color: $branco-2;

        img {
            width: 32px;
        }

        @include media-breakpoint-down(md) {
            .d-flex {
                gap: 8px;
            }

            p {
                margin-top: 8px !important;
            }
        }

    }

    @include media-breakpoint-down(md) {
        padding: 160px 0;
    }
}

#quero-ser-parceiro {
    background-color: $bordo-2;
}

#depoimento {
    position: relative;

    .carousel-indicators {
        bottom: -90px;

        button {
            width: 40px;
            height: 4px;
            border-radius: 8px;
            border: 0;

            &:not(.active) {
                opacity: 0.5;
            }

            &.active {
                background-color: $branco-2;
            }
        }
    }

    .depoimento {
        font-family: 'Alexandria';
        font-size: 48px;
        font-weight: 300;
        line-height: 140%;
        margin-bottom: 48px;

        @include media-breakpoint-down(md) {
            font-size: 34px;
        }
    }

    .d-flex {
        gap: 40px;

        img {
            border-radius: 50px;
            width: 100px;
            height: 100px;
            object-fit: cover;
            object-position: center;
        }

        .subtitle {
            color: $branco-2;

            @include media-breakpoint-down(md) {
                font-size: 12px;
                font-weight: 300;
            }
        }

        @include media-breakpoint-down(md) {
            gap: 25px;
        }
    }

    .position-absolute {
        width: 90%;
        bottom: -700px;
        opacity: 0.1;

        @include media-breakpoint-down(md) {
            width: auto;
            height: 100%;
            bottom: 0;
            left: 50%;
            translate: -50% 0;
            opacity: 0.04;
        }
    }

    @include media-breakpoint-down(md) {
        padding-right: 42px;
        padding-left: 42px;
    }
}

#vender-na-americanas-deskop {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    h2 {
        span {
            font-weight: 100;
        }
    }

    .tab-pane {
        font-size: 18px;
        line-height: 140%;
        font-weight: 400;
    }

    .nav {
        gap: 30px;

        .nav-link {
            font-size: 20px;
            line-height: 140%;
            font-weight: 700;
            color: $white;
            border: 1px solid;

            &:not(.active) {
                border-color: $white;
                background-color: transparent;
            }

            &.active {
                background-color: $primary;
                border-color: $primary;
            }
        }
    }
}

#vender-na-americanas {
    padding-bottom: 150px !important;

    h2 {
        span {
            font-weight: 300;
        }
    }

    #carousel-vender {
        p {
            font-weight: 500;
            color: #333333;
        }

        .carousel-inner {
            gap: 10px;

            .card {
                background-color: $branco-3;
                border-radius: 16px;
                padding: 48px 32px;
            }
        }

        .carousel-indicators {
            bottom: -70px;

            button {
                border: 1px solid $branco-4;

                &:not(.active) {
                    background-color: transparent;
                }
            }
        }
    }
}

#cadastro {
    p {
        font-family: 'Alexandria';
        font-size: 34px;
        font-weight: 300;

        @include media-breakpoint-down(md) {
            font-family: 'Roboto';
            font-size: 16px;
            font-weight: 400;
        }
    }
}