@import "../../assets/scss/theme";
@import "../../template-parts/header/header";

@import "../../template-parts/hero/hero";

@media (max-width: 767.98px) {
    #hero .bg-image img {
        object-position: 68%;
    }
}

img {
    max-width: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.btn:hover {
    color: $secondary;
    background-color: #ffff;
    border-color: $secondary
}

#sec-1 {
    margin-bottom: 160px;
}


.btn-sm {

    margin: 42px;
    border-radius: 0;
}

.table {
    font-family: 'Roboto';
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;


}

tr {
    padding: 42px 0;
    gap: 24px;

    &:not(:last-child) {
        border-bottom: 1px solid #E6E6E6;
    }

    td {
        color: $bordo;
        font-family: 'Alexandria';
        line-height: 140%;
        font-size: 24px;
        font-weight: 300;

        a {
            width: 48px;
            height: 44px;

            img {
                width: 24px;
                height: 24px;
            }
        }
    }
}