@import "../../assets/scss/theme";
@import "../../template-parts/header/header";

@import "../../template-parts/hero/hero";

img {
    max-width: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

p {
    margin: 0;
}

#hero {
    margin-top: 56px;
    margin-bottom: 160px;
}


h1 {
    font-weight: bold;
    color: $primary;
    font-size: 38px;
    line-height: 46px;
    max-width: 400px;

    @include media-breakpoint-down(md) {
        font-size: 28px;
        line-height: 32px;
        text-align: center;
    }
}



p {
    color: $primary;
    font-weight: 500px;
    font-size: 20px;
    line-height: normal;
    max-width: 400px;
}

h2 {
    font-weight: 700;
    color: $secondary;
    font-size: 48px;
    line-height: 58px;
    margin-bottom: 54px;

    @include media-breakpoint-down(md) {
        font-size: 48px;
        line-height: 58px;
    }
}

.btn:hover {
    color: $secondary;
    background-color: #ffff;
    border-color: $secondary
}

#sec-1 {
    margin-bottom: 160px;
}


.btn-sm {

    margin: 42px;
    border-radius: 0;
}

.table {
    font-family: 'Roboto';
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;


}

tr {
    padding: 42px 0;
    gap: 24px;

    &:not(:last-child) {
        border-bottom: 1px solid #E6E6E6;
    }

    td {
        color: $secondary;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px;

        .btn {
            font-size: 18px;
            font-weight: 700;
        }
    }
}