@import "../../assets/scss/theme";
@import "../../template-parts/header/header";

@import "../../template-parts/hero/hero";

h6.itens-title {
    font-weight: 500;
    line-height: 1.1;
    color: $primary;
    margin: 50px 0 20px;
    font-size: 1rem;
}