footer {
    background-color: #333333;

    .row {

        @include media-breakpoint-down(md) {
            gap: 30px;

            .col:first-child {
                width: 164px;
            }
        }

        p {
            font-family: 'Alexandria';
            font-size: 20px;
            line-height: 24px;
            font-weight: 700;
        }

        ul {
            list-style: none;
            padding: 0;

            li {
                margin: 5px 0;

                a {
                    color: $branco-3;
                    text-decoration: none;
                    transition: all .3s;

                    &:hover {
                        color: $primary;
                    }
                }
            }
        }

        .collapse-icon {
            &::after {
                content: ' â¯';
                display: inline-block;
                font-size: 12px;
                font-weight: bold;
                margin-left: 20px;
                transition: .4s ease-in-out;
                border: none;
                position: absolute;
                top: 50%;
                translate: 0 -50%;
            }

            &:hover>a:after {
                transform: rotate(90deg);
            }
        }
    }

    .social-media {
        img {
            height: 20px;
        }
    }

    a {
        font-size: 14px;
    }

    h2 {
        font-size: 17px;
        line-height: 20px;
        color: #fff;
        font-weight: bold;
    }

    .wp-container-5 {
        gap: 10px;

        &>div {
            flex: none !important;
        }

        img {
            height: 25px;
            object-fit: contain;
            cursor: pointer;
        }

        @include media-breakpoint-down(md) {
            flex-wrap: nowrap !important;

            .wp-block-column {
                flex-basis: 32px !important;
            }
        }
    }

    .wp-container-11 {
        gap: 10px;

        &>div {
            flex: none !important;
        }

        img {
            height: 20px;
            object-fit: contain;
            cursor: pointer;
        }
    }

    .wp-container-14 {
        gap: 10px;
    }

    .copy-footer {
        font-size: 13px;
        line-height: 20px;
        border-top: 2px solid $branco-3;
    }
}