#accordion {
    .accordion-button {
        border: 1px solid #E6E6E6;
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.25em;

        @include media-breakpoint-down(md) {
            font-size: 1.5rem;
        }

        &::after {
            background-size: contain;
            width: 10px;
        }
    }

}