.h1 {
    font-family: 'Alexandria';
    font-size: 64px;
    font-weight: 700;
    line-height: 100%;

    @include media-breakpoint-down(md) {
        font-size: 48px;
    }
}

.h2 {
    font-family: 'Alexandria';
    font-size: 56px;
    font-weight: 700;
    line-height: 100%;
}

.h3 {
    font-family: 'Alexandria';
    font-size: 48px;
    font-weight: 700;
    line-height: 100%;
} 

.h4 {
    font-family: 'Alexandria';
    font-size: 34px;
    font-weight: 700;
    line-height: 100%;
} 

.h5 {
    font-family: 'Alexandria';
    font-size: 24px;
    font-weight: 700;
    line-height: 140%;
}

.h6 {
    font-family: 'Alexandria';
    font-size: 20px;
    font-weight: 700;
    line-height: 140%;
}

.p-section {
    font-size: 1.125rem;
    line-height: 1.5em;
    font-weight: 500;
}

.subtitle {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}